.item.wrap, .item-content.wrap {
    white-space: normal;
}

/* http://stackoverflow.com/questions/22057281/hover-over-text-to-show-more-text */
.hover-extra { 
    display: none;
}
/* p or div */
p:hover .hover-extra {
    display: inline-block;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: red;
}