/* Add your own CSS */
/*
table {
	border-spacing: 0.5rem;
}
*/
/*
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}
*/
td {
    border-collapse: collapse;
    /* border: 1px black solid; */
	border: hidden;
	/* visibility: hidden; */ /* hide all */
}
/* the following does not work */
/*
tr:nth-of-type(5) td:nth-of-type(1) {
    visibility: hidden;
}
*/
.rotate-90-anticlockwise {
          transform: rotate(-90.0deg);  /* Standard */
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
      -ms-transform: rotate(-90.0deg);  /* IE9+ */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}
/* http://stackoverflow.com/questions/22057281/hover-over-text-to-show-more-text */
.hover-extra { 
    display: none;
}
/* p or div */
p:hover .hover-extra {
    display: inline-block;
}
