<ion-view view-title="styleDouble">
    <ion-content class="padding">
        <!--<form novalidate  name="formData" class="simple-form">
            <div class="list card">
                <div class="item item-divider">Account</div>
                <div class="item item-body">
                    Email <input type='email' name='email' ng-model='email' required placeholder="Enter email address">
                    <span style="color:red" ng-show="formData.email.$dirty && formData.email.$invalid">
                        <span ng-show="formData.email.$error.required">Email is required!</span>
                        <span ng-show="formData.email.$error.email">Invalid email address!</span>
                    </span>
                    <br />Password <input type='password' name='password' ng-model='password' required placeholder="Enter password">
                    <span style="color:red" ng-show="formData.password.$dirty">
                        <span ng-show="formData.password.$error.required">Password is required!</span>
                    </span>
                    <br />Verify Password <input type='password' name='passwordx' ng-model='passwordx' required placeholder="Verify password">
                    <span style="color:red" ng-show="formData.passwordx.$dirty">
                        <span ng-show="formData.passwordx.$error.required">Verify password is required!</span>
                    </span>
                </div>
            </div>

            <br /><button ng-disabled="formData.email.$dirty && formData.email.$invalid ||
                    formData.password.$dirty && formData.password.$invalid ||
                    formData.passwordx.$dirty && formData.passwordx.$invalid"
                    ng-click="finish(this)">Finish</button>
        </form>-->
        <form>
            <div class="list card">
                <div class="item item-divider calm-bg">Create Account</div>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Email</span>
                            <input type='email' name='email' ng-model='email' required placeholder="Email">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Password</span>
                            <input type='password' name='password' ng-model='password' required placeholder="Password">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Password</span>
                            <input type='password' name='passwordx' ng-model='passwordx' required placeholder="Verify Password">
                        </label>
                    </div>
                </div>
                <button ng-click="finish(this)">
                    Next
                </button>
            </form>
    </ion-content>
</ion-view>