<ion-view view-title="styleDouble">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider calm-bg">My body shape is</div>
            <div class="item item-body">
                Female
            </div>
        </div>
        <button ng-click="next(this)">Next</button><br />
        <!-- <button ng-click="next(this)">{{(tempGender.value === 'male') ? "(Disabled - 'Male' entered in Intro)" : 'Next'}}</button><br /> -->
        </div>
        <br /><br />For debugging: {{tempGender}}
        <br /><br />For debugging: {{formData}}
    </ion-content>
</ion-view>