<ion-view view-title="styleDouble">
    <ion-content class="padding">
        <div class="list card">
			<div class="item item-divider item-header item-calm">
				<h2 class="title">Brands I Like (ionic)</h2>
			</div>
            <div class="item item-body">
				<ul class="list">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" name="like-gap" value="like-gap">
						</label>
						Gap
					</li>
				</ul>
				<ul class="list">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" name="like-hnm" value="like-hnm">
						</label>
						H&M
					</li>
				</ul>
				<ul class="list">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" name="like-express" value="like-express">
						</label>
						Express
					</li>
				</ul>
				<ul class="list">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" name="like-ataylor" value="like-ataylor">
						</label>
						Ann Taylor
					</li>
				</ul>
				<ul class="list">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" name="like-ax" value="like-ax">
						</label>
						A|X
					</li>
				</ul>
			</div>
            <!--
			<div class="item item-divider item-header item-calm">
				<h2 class="title">Brands I Like (regular)</h2>
			</div>
            <div class="item item-body">
				<table style="width:30%">
					<tbody>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>Gap:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="gap" value="gap"></td> 
					</tr>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>H&M:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="hnm" value="hnm"></td> 
					</tr>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>Express:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="express" value="express"></td> 
					</tr>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>Ann Taylor:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="ataylor" value="ataylor"></td> 
					</tr>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>A|X:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="ax" value="ax"></td> 
					</tr>
					</tbody>
				</table>
            </div>
            -->
        </div>
        <br /><button class="button icon icon-right ion-arrow-right-a" ng-click="next(this)">Next (6 of 8)</button><br />
        <!--
        <br /><button ng-click="next(this)" class="button button-calm">Next</button><br />
        -->
    </ion-content>
</ion-view>