<ion-view view-title="styleDouble">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Brands I Like</div>
            <div class="item item-body">
				<table style="width:30%">
					<tbody>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>Gap:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="gap" value="gap"></td> 
					</tr>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>H&M:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="hnm" value="hnm"></td> 
					</tr>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>Express:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="express" value="express"></td> 
					</tr>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>Ann Taylor:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="ataylor" value="ataylor"></td> 
					</tr>
					<tr>
						<td><div style='text-align:left'><p style="font-size:12px; color:gray"><b>A|X:</b></p></div></td>
						<td><input style="float:left" type="checkbox" name="ax" value="ax"></td> 
					</tr>
					</tbody>
				</table>
            </div>
        </div>
        <button ng-click="next(this)">Next</button><br />
        </div>
    </ion-content>
</ion-view>