<ion-view view-title="{{double.name}}">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="review in double.reviews" type="item-text-wrap" href="#/tab/doubles/{{double.id}}">
                <img ng-src="{{review.image}}" style="width: 100px; height: 100px">
                <div star-rating rating-value="review.rating.current" max="review.rating.max" ></div>
                {{review.body}}
                <cite class="clearfix">{{review.createdOn | date}}</cite>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
