<!--script id="templates/facts2.html" type="text/ng-template"-->
  <ion-view view-title="Also Factual">
    <ion-content padding="true">
      <p>Many online retailers will charge restocking fees for processing returns.</p>
      <p>Some retailers do not allow online purchases to be exchanged or returned at their retail stores.</p>
      <p>... ...</p>
      <p>... ...</p>
      <p>... ...</p>
      <p>
        <a class="button icon ion-home" href="#/tab/home">Home</a>
        <a class="button icon ion-chevron-left" href="#/tab/facts">Online Shopping Facts</a>
      </p>
    </ion-content>
  </ion-view>
<!--/script-->
