<!--script id="templates/facts.html" type="text/ng-template"-->
  <ion-view view-title="Facts">
    <!--ion-content padding="true"-->
    <ion-content class="padding">
      <p>Most online retailers do not offer free return shipping.</p>
      <p>Authorized online return shipment would likely be limited to a few specific couriers.</p>
      <p>It takes extra time to repack the clothes that do not fit for returning.</p>
      <p>Many online retailers require you to pay for the cost of the return shipment out of your own pocket.</p>
      <p>
        <a class="button icon ion-home" href="#/tab/home">Home</a>
        <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
      </p>
    </ion-content>
  </ion-view>
<!--/script-->
