<!-- forgot-password.html -->
<!--script id="templates/forgot-password.html" type="text/ng-template"-->
  <!--ion-view view-title="styleDouble"-->
  <ion-view view-title="Forgot Password">
    <!--ion-content padding="true"-->
    <ion-content class="padding">
    <!--
            <div class="list card">
                <div class="list">
                </div>
            </div>
            <div class="item item-divider calm-bg">Born in (Optional, but will help us match you)</div>
            <div class="item item-body">
    -->
        <form novalidate class="css-form">
            <div class="list card">
      <p>
        This is a demo showing how style double works.
      </p>
      <p>
        There's no username/password, just click the Sign-In button.
      </p>
      <p>
        <a href="home.html">Home</a><br />
        <!--<a class="button icon ion-home" href="#/tab/home">Home</a>-->
        Return to <!--<a href="#/tab/sign-in">Sign-In</a>.-->
        <!--<button ng-click="next(this)">Sign-In</button><br />-->
        <a class="button icon ion-chevron-left" href="sign-in.html">Sign-In</a>
      </p>
            </div>
        </form>
    </ion-content>
  </ion-view>
<!--/script-->
