<ion-view view-title="styleDouble">
    <ion-content class="padding">
        <form novalidate class="css-form">
            <div class="list card">
                <div class="item item-divider">My height</div>
                <div class="item item-body">
                    <div>
                        <select id="heightfeet" name="weight" ng-model="formData.heightfeet" ng-init="formData.heightfeet='5'">
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        ft
                        <select id="heightinches" name="weight" ng-model="formData.heightinches" ng-init="formData.heightinches='0'">
                            <option value="0"> 0</option>
                            <option value="1"> 1</option>
                            <option value="2"> 2</option>
                            <option value="3"> 3</option>
                        </select>
                        inches
                    </div>
                </div>
                <div class="item item-divider">My weight</div>
                <div class="item item-body">
                    <select id="weight" name="weight" ng-model="formData.weight" ng-init="formData.weight='100'">
                        <option value="90">90</option>
                        <option value="95">95</option>
                        <option value="100">100</option>
                        <option value="105">105</option>
                    </select>
                    lbs
                </div>
            </div>
            <button ng-click="next(this)">Next</button><br />
        </form>
        </div>
        <br /><br />For debugging: {{formData}}
    </ion-content>
</ion-view>