<ion-view view-title="styleDouble">
    <ion-content class="padding">
        <form novalidate class="css-form">
            <div class="list card">
                <div class="item item-divider calm-bg">My height  (required)</div>
                    <div class="item item-body">
                        <div>
                            <select id="heightfeet" name="heightfeet" ng-model="formData.heightfeet" ng-init="formData.heightfeet='5'">
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            ft
                            <select ng-model="formData.heightinches">
                                <option ng-repeat="inch in inches" title="{{inch.title}}" value="{{inch.value}}">
                                    {{inch.displayName}}
                                </option>
                            </select>
                            inches
                        </div>
                    </div>
                </div>
                <div class="item item-divider calm-bg">My weight  (Required)</div>
                <div class="item item-body">
                    <select ng-model="formData.weight">
                        <option ng-repeat="weight in weights" title="{{weight.title}}" value="{{weight.value}}">
                                {{weight.displayName}}
                        </option>
                    </select>
                    lbs
                </div>
            <br /><button ng-click="next(this)">Next</button><br />
        </div>
    </form>
        <!--<br /><br />For debugging: {{formData}}-->
    </ion-content>
</ion-view>