<ion-view view-title="styleDouble">
    <ion-content class="padding">
        <form novalidate class="css-form">
            <div class="list card">
            <!--
                <div class="item item-divider calm-bg">I am a  (required)</div>
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" ng-model="formData.gender" value="female">
                        <div class="item-content">
                            Female
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" ng-model="formData.gender" value="male">
                        <div class="item-content">
                            Male
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            -->
                <p>style double - it's all about online shopping for the right clothes the first time!</p>
                <p>
                  <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Online Shopping Facts</a>
                </p>
            </div>
            <!--
            <div class="item item-divider calm-bg">Born in (Optional, but will help us match you)</div>
            -->
            <!--
            <div class="item item-body">
                <select ng-model="formData.birthyear">
                    <option ng-repeat="year in years" title="{{year.title}}" value="{{year.value}}">
                        {{year.displayName}}
                    </option>
                </select>
            </div>
            -->
            <!--
            <br /><button ng-click="next(this)">Next</button><br />
            -->
        </form>
        <!-- <br /><br />For debugging: {{formData}} -->
    </ion-content>
</ion-view>
<!--
    <script id="templates/home.html" type="text/ng-template">
    </script>
-->
      <!--
      <ion-view view-title="Home">
      -->
        <!-- padding="true" is probably old -->
        <!-- <ion-content padding="true"> -->
        <!--
        <ion-content class="padding">
        -->
        <!--
        <form>
          <p>Example of Ionic tabs. Navigate to each tab, and
          navigate to child views of each tab and notice how
          each tab has its own navigation history.</p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
          </p>
        -->
            <!--
            <div class="list card">
                <div class="item item-divider calm-bg">Create Account</div>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type='email' name='email' ng-model='formData.email' required placeholder="Email">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Password</span>
                        <input type='password' name='password' ng-model='formData.password' required placeholder="Password">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Password</span>
                        <input type='password' name='passwordx' ng-model='formData.passwordx' required placeholder="Verify Password">
                    </label>
                </div>
            </div>
            -->
            <!--
            <button ng-disabled="!isValid(this)" ng-click="finish(this)">
                Next
            </button>
            -->
      <!--
        </form>
        </ion-content>
      </ion-view>
      -->
