<ion-view view-title="styleDouble">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider calm-bg">My Size (optional)</div>
            <div class="item item-body">
                Neck
                <select id="neck" name="weight" ng-model="formData.neck">
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                </select>
                <br /><br />
                Chest
                <select id="chest" name="weight" ng-model="formData.chest">
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                </select>
                <br /><br />
                Waist
                <select id="waist" name="weight" ng-model="formData.waist">
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                </select>
                <br /><br />
                Hips
                    <select id="hips" name="weight" ng-model="formData.hips">
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                </select>
                <br /><br />
                Inseam
					<!-- http://en.wikipedia.org/wiki/Clothing_sizes -->
				    <!-- http://en.wikipedia.org/wiki/US_standard_clothing_size -->
                    <select id="inseam" name="inseam" ng-model="formData.inseam">
					<option value="29">29</option>
					<option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                </select>
                <br /><br />
            </div>
        </div>
        <button class="button icon icon-right ion-arrow-right-a" ng-click="details(this)">Details</button><br /><br />
        <button class="button icon icon-right ion-arrow-right-a" ng-click="next(this)">Next (4 of 8)</button><br />
        <!--
        <br /><a class="button icon icon-right ion-arrow-right-a" href="#/tab/measurement-details">Details</a><br />
        <br /><a class="button icon icon-right ion-arrow-right-a" href="#/tab/brands-like">Next</a>
        -->
        <br /><br />For debugging: {{formData}}
    </ion-content>
</ion-view>