<ion-view view-title="style double" class="title">
    <ion-content class="padding">
        <h3 style='text-align:center'>List of Profile Details</h3>
        <br /><br />
        to be added!
        <br /><br />
        <!--<br /><button ng-click="next(this)">Next</button><br />-->
        <button class="button button-positive icon icon-right ion-edit" ng-click="next(this)">Edit Profile</button><br />
        <!--<script src="templates/profile.html" type="text/ng-template"></script>-->
        <!--<a class="button icon icon-center ion-edit" href="#/tab/gender" style="width: 190px; height: 16px" ><b>Edit Profile</b></a>-->
        <!--<a class="button button-block button-positive icon icon-right ion-edit" href="#/tab/gender">&nbsp;<b>Edit Profile</b></a>-->
        <!--<a class="link icon icon-right ion-edit" href="#/tab/gender">&nbsp;<b>Edit Profile</b></a>-->
        <!--
        <button class="button button-block button-positive">
            <ion-item href="#/tab/gender">
                <div class="ion-edit" style='text-align:center'>
                    Edit Profile
                </div>
            </ion-item>
        </button>
        -->
        <!--
        <ion-list>
            <ion-item href="#/tab/gender">
                <div class="ion-edit" style='text-align:left'>
                    Edit Profile
                </div>
            </ion-item>
        </ion-list>
        -->
        <!--
        <ion-list>
            <ion-item href="#/tab/gender">
                <button class="button button-block button-positive">
                    <ion-item href="#/tab/gender">
                        <div class="ion-edit" style='text-align:left'>
                            &nbsp;Edit Profile&nbsp;
                            <img src="img/simple_next_right_arrow.jpg" style="width: 24px; height: 14px" />
                        </div>
                    </ion-item>
                </button>
            </ion-item>
        </ion-list>
        -->
    </ion-content>
</ion-view>
