<ion-view view-title="Recommendations">
<ion-content>
    <ion-list>
        <ion-item class="item-avatar item-text-wrap" ng-repeat="recommendation in recommendations" href="#/tab/recommendations/{{recommendation.id}}">
            <img src="{{recommendation.image}}" style="width: 60px; height: 60px">
            <div star-rating rating-value="recommendation.rating.current" max="recommendation.rating.max" ></div>
            {{recommendation.summary}}
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>


