<!--script id="templates/sign-in.html" type="text/ng-template"-->
  <ion-view view-title="style double"> <!-- style="text-align:center" or class="text-center" -->
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive icon-center ion-log-in" ng-click="signIn(user)">
          Sign-In
        </button>
      </div>
      <div class="padding">
        <p class="text-center">
          <a class="link icon icon-right ion-help" href="#/tab/forgot-password(not working)"> Forgot password</a>
          <!--
          <button class="link icon icon-right ion-help" ng-click="forgetPassword()">
            Forgot Password
          </button>
          -->
          <!--<a ng-href="templates/forgot-password.html">Forgot password</a>-->
        </p>
        <p class="text-center">
          <a class="link" href="#/tab/gender">Create account</a>
          <!--<a ng-href="#/tab/gender">Create account</a>-->
          <!--
          <button class="link" ng-click="createAccount(this)">
            Create account
          </button>
          -->
        </p>
      </div>
    </ion-content>
  </ion-view>
<!--/script-->
