<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Profile" icon-off="ion-ios-body-outline" icon-on="ion-ios-body" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Recommendations" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/recommendations">
        <ion-nav-view name="recommendations"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Doubles" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/doubles">
        <ion-nav-view name="doubles"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Upload" icon-off="ion-ios-upload-outline" icon-on="ion-ios-upload" href="#/tab/upload">
        <ion-nav-view name="upload"></ion-nav-view>
    </ion-tab>

</ion-tabs>
