<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="StyleDouble" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Gender" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/gender">
        <ion-nav-view name="gender"></ion-nav-view>
    </ion-tab>

    <ion-tab title="HeightWeight" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/height-weight">
        <ion-nav-view name="height-weight"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Measurements" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/measurements">
        <ion-nav-view name="measurements"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Measurement Details" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/measurement-details">
        <ion-nav-view name="measurement-details"></ion-nav-view>
    </ion-tab>

    <ion-tab title="My Sizes" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/my-sizes">
        <ion-nav-view name="my-sizes"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Cloth Returns" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/cloth-returns">
        <ion-nav-view name="cloth-returns"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
