
<ion-view view-title="Add Review" class="title">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-image" ng-click="selectPicture()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="takePicture()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ng-form novalidate class="css-form" ng-init="formData.stars='3'">
            <div class="list card">
                <div class="item item-divider calm-bg">Picture</div>
                    <img align="center" ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                    <img align="center" ng-show="imgURI === undefined" ng-src="http://placehold.it/100x100">
                </div>
            <div class="item item-divider calm-bg">Review</div>
            <div class="item item-body">
                <select ng-model="formData.stars">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>Stars
                <select ng-model="formData.sizes">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>Category<br/><br/>
                <select ng-model="formData.sizes">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>Brand
                <select ng-model="formData.sizes">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>Size<br/><br/>
                <label class="item item-input">
                    <textarea ng-model="formData.comments" placeholder="Comments" rows="6" cols="50"></textarea>
                </label>
            </div>
            <br /><button ng-disabled="imgURI == undefined || formData.comments === undefined" ng-click="upload(this)">Submit</button><br />
        </ng-form>
    </ion-content>
</ion-view>